**/.vscode/**
**/node_modules/**
**/.git/**
**/*.map
**/src/**
**/webview-src/**
**/out/**
**/out-webview/**
**/java-server/src/**
**/java-server/pom.xml
**/java-server/target/classes/**
**/java-server/target/generated-sources/**
**/java-server/target/maven-archiver/**
**/java-server/target/maven-status/**
**/java-server/target/onto-reasoner-server-*.jar
**/test-ontologies/**
tsconfig*.json
esbuild.mjs
.eslintrc*
vitest.config*
**/*.test.ts
